*{
    margin: 0;
    padding: 0;
    font-family: arial;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(img/blue.jpg);
    background-size: cover;
    background-position: center;     
}

.container{
    max-width: 450px;
    width: 100%;
    color: white;   
    padding: 20px;
}


header h1{
    padding-bottom: 20px;
    font-size: 2.5em;
    position: relative;
    text-shadow: 1px 2px 5px #0000007b
}


.buscarTodo{
    display: flex;
    flex-direction: column;
    align-items: center;  
    width: 100%;
}


.buscarTodo input , .addTodo input{
    width: 100%;
    border: 2px solid #343a4000 ;
    padding: 10px;
    border-radius: 5px;
    outline: 0;
    background-color: #2a2e33ae;
    color: white;
    font-size: 16px;

 }
 
 input[type=text]:focus{
    border: 2px solid #256e9c;
    transition: 0.5s;
 }

 
.todoContainer {
     margin-top: 15px;
     width: 100%;
 }

     
.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 1px;
    background-color: #003352b1;
    padding: 15px;
    position: relative;
}

.d-flex span{
    word-wrap: break-word;
    padding: 10px;
    width: 70%;
    margin: 0 5px 0 5px;
}

.buscarTodo input::placeholder{
    color: rgb(211, 211, 211);
    font-size: 14px;
 }

.addTodo{
   display: flex;
   flex-direction: column;
   align-items: center;

} 

.addTodo label {
    margin: 50px 0 15px 0 ;
    font-size: 20px;

    
}

.hidden {
    display: none;
}

.edit {
    display: none;
    width: 100%;
    max-width: 400px;
    justify-content: space-between;
    background-color:#313E48;
    padding: 3px;
    border-radius: 5px;
    position: absolute;
    top: 30%; /* Posicione verticalmente no centro da tela */
    left: 50%; /* Posicione horizontalmente no centro da tela */
    transform: translate(-50%, 50%);
    z-index: 1;
}

.edit input {
    width: 100%;
    background-color:#f4f3e7;
    border: 2px solid#2A2E33;
    color:black
    
}

.icons{
    display: flex;
    gap: 10px;
}

.editIcons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    gap: 5px;
}

i {
    cursor: pointer;
    margin-left: 7px;
}

i:hover {
    transform:scale(1.2,1.2);
    transition: 0.3s;
}

.editIcons i {
    margin-right: 10px;
}

.fa-check:hover{
  color:#33a4eb
}

.fa-xmark:hover{
    color: rgb(222, 25, 25);
}

.text {
    text-decoration: line-through;
    color:#979797 ;   
}
